<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>issuer</key>
	<string>https://$com.okta.dev-833124/oauth2/{authServerId}</string>
	<key>clientId</key>
	<string>0oac57x5hNOP4Qb0C4x6</string>
	<key>redirectUri</key>
	<string>com.okta.dev-833124:/</string>
	<key>scopes</key>
	<array>
		<string>offline_access</string>
		<string>openid</string>
		<string>profile</string>
	</array>
</dict>
</plist>
